:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body{
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background: linear-gradient(to left, hsla(354, 76%, 92%, 0.65), hsla(354, 76%, 92%, 0.65)), 
        url(assets/images/TikTok_Wrapped_Inverted_Background.png) no-repeat center center fixed;
  background-blend-mode: overlay;
  /*background: #f08080; top-ad-creators*/
  /*background: linear-gradient(180deg, rgba(255, 68, 105, 0.83) 0%,rgba(33, 186, 235, 0.86) 53.5416305065155%); -> Background of AdsMessage.vue, put fixed for no weird bar*/
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.top-history-creators {
  color: #000000;
  text-align: center;
  font-family: futura-maxi-cg-bold;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 37px;
  top: 49px;
  width: 318px;
  height: 28px;
  }
  
  .tik-tok-logo {
    width: 29px;
    height: 29px;
    position: absolute;
    left: 37px;
    top: 600px;
} 

.side-by-side-chart {
  display: flex;
  align-items: flex-end; /* Align bars at the bottom */
}

.rectangle {
  border-radius: 30px 30px 0px 0px;
  width: 78px;
  z-index: 1; /* Set a higher z-index value */
  overflow: hidden;
  top: 30px;
  } 

#rect-11{
  background: #25f4ee;
  height: 528px;
  position: relative; 
}

#rect-12 {
  background: #fe2c55;
  height: 450px;
  position: relative;   
}

#rect-13 {
  background: #f7ec59;
  height: 379px;
  position: relative;
  }

#rect-14 {
  background: #b14aed;
  height: 316px;
  position: relative; 
}

#rect-15 {
  background: #454ade;
  height: 272px;
  position: relative; 
}

._1st-place {
  position: absolute;
  inset: 0;
  z-index: 2; /* Set a higher z-index value */

  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align at the top */
  align-items: center;
}

.ellipse-1 {
  border-radius: 50%;
  width: 125px;
  height: 122.95px;
}

.rectangle-11 {
  background: #1e1e1e;
  border-radius: 15px;
  width: 33.33px;
  height: 22.54px;
  position: relative;

  }
  
  ._1 {
  color: #ffffff;
  text-align: center;
  font-family: 'futura-maxi-cg-bold';
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  width: 16.25px;
  height: 9.84px;
  left: 227.17px; 
  display: flex;
  align-items: center;
  justify-content: center
} 

.ads-message{
  color: #ffffff;
  text-align: center;
  font-family: 'futura-maxi-cg-bold';
  font-size: 32px;
  line-height: 35.5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center
}

.minutes {
  background: linear-gradient(to left, #fadadd, #fadadd);
  border-radius: 20px;
  width: 390px;
  height: 844px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0.082deg) scale(1, 1);
  overflow: hidden;
  } 

  .title,
  .subtitle {
    font-family: 'futura-maxi-cg-bold';
    font-weight: 400;
    margin-bottom: 10px; /* Add space below title and subtitle */
  }

    /* Center the title horizontally */
    .title {
      font-size: 32px;
      margin: 0 auto;
      text-align: center;
    }
  
    .subtitle {
      font-size: 20px;
      margin: 0 auto;
      text-align: left;
    }
  
  .creator-item {
    display: flex; /* Use Flexbox */
    align-items: center; /* Center items vertically */
    margin-top: 20px; /* Adjust spacing between items */
  }
  
  .number,
  .name {
    font-family: 'futura-maxi-cg-bold';
    font-weight: 400;
  }
  
  .pfp {
    border-radius: 50px;
    width: 84px;
    height: 83px;
    margin: 0 10px; /* Adjust spacing around the image */
  }
  
  .number {
    font-size: 24px;
  }
  
  .name {
    font-size: 20px;
  }

  .general-text {
    font-family: 'futura-maxi-cg-bold';
    font-size: 32px;
    text-align: center;
    color: #000000;
    line-height: 35px;
    font-weight: 700;
    position: relative;
    width: 366px;
    height: 58px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1); 
  }

  .quote-text {
    color: #000000;
    text-align: center;
    font-family: 'Inter-SemiBoldItalic', sans-serif; 
    font-size: 32px;
    line-height: 35px;
    font-weight: 600;
    font-style: italic;
    position: relative;
    left: 12.57px;
    width: 366.61px;
    height: 107.46px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1); 
  }