body, html, .page {
  height: 100vh;
  margin: 0;
  place-items: center;
}

#app {
  width: 100%;
  text-align: center;
  overflow:hidden;
}

.top-history-creators {
  color: #000000;
  text-align: center;
  font-family: futura-maxi-cg-bold;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  padding: 5% 10% 5% 10%; /* horizontal + vertical (top + bottom clock-wise)*/
}
  
.tik-tok-logo {
    width: 29px;
    height: 29px;
    position: fixed;
    left: 10px;
    bottom: 10px;
} 

.side-by-side-chart {
  display: flex;
  align-items: flex-end; /* Align bars at the bottom */
  justify-content: center; 
}

.rectangle { /*make this a component*/
  border-radius: 30px 30px 0px 0px;
  width: 100%;
  overflow: hidden;
  top: 30px;
  } 

  @media only screen and (device-width: 768px) {
  .ranking {
    width: 80px; /* Default width for pc */
  }
}
  
  @media only screen and (device-width: 360px) {
    .ranking {
      width: 20vw!important; /* Adjust the width for mobile */
    }
  }

#rect-11{
  background: #25f4ee;
  height: 528px;
  position: relative; 
}

#rect-12 {
  background: #fe2c55;
  height: 450px;
  position: relative;   
}

#rect-13 {
  background: #f7ec59;
  height: 379px;
  position: relative;
  }

#rect-14 {
  background: #b14aed;
  height: 316px;
  position: relative; 
}

#rect-15 {
  background: #454ade;
  height: 272px;
  position: relative; 
}

.place {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50px;
  position: relative;
}

.ellipse {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  z-index: 1;
}

.rectangle-place {
  background: #1e1e1e;
  border-radius: 15px;
  width: 33.33px;
  height: 22.54px;
  position: relative;

  }

.minutes {
  background: linear-gradient(to left, #fadadd, #fadadd);
  border-radius: 20px;
  width: 390px;
  height: 844px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0.082deg) scale(1, 1);
  overflow: hidden;
  } 

  .title,
  .subtitle {
    font-family: 'futura-maxi-cg-bold';
    font-weight: 400;
  }

    /* Center the title horizontally */
    .title {
      font-size: 32px;
      margin: 0 auto;
      text-align: center;
      padding-top: 2%;
    }
  
    .subtitle {
      font-size: 20px;
      text-align: left;
      padding-top: 2%;
      padding-left: 15%;
    }
  
  .creator-item {
    display: flex; /* Use Flexbox */
    align-items: center; /* Center items vertically */
    margin-top: 20px; /* Adjust spacing between items */
  }
  
  .number,
  .name {
    font-family: 'futura-maxi-cg-bold';
    font-weight: 400;
  }
  
  .pfp {
    border-radius: 50px;
    width: 84px;
    height: 83px;
    margin: 0 10px; /* Adjust spacing around the image */
  }
  
  .number {
    font-size: 24px;
  }
  
  .name {
    font-size: 20px;
  }

  .general-text {
    font-family: 'futura-maxi-cg-bold';
    font-size: 200%;
    text-align: center;
    color: #ffffff;
    line-height: 100%;
    font-weight: 700;
    position: relative;
  }

  .quote-text {
    color: #ffffff;
    text-align: center;
    font-family: 'Inter-SemiBoldItalic', sans-serif; 
    font-size: 32px;
    line-height: 35px;
    font-weight: 600;
    font-style: italic;
    position: relative;
    width: 50%;
    padding-top: 10%;
  }

  .text-inside-rectangle {
    writing-mode: vertical-rl;
    margin: 0; /* Reset margin to avoid extra spacing */
    font-family: 'futura-maxi-cg-bold';
    color: black;
    display: flex;
    height: 70%; 
    font-size: 14px;
    padding-bottom: 30%;
    padding-right: 30%;
    transform: rotate(180deg); 
  }
  
  .number-placement {
    padding: 0px; 
    margin: 0px; 
    font-family: 'futura-maxi-cg-bold'; 
    color: white;
  }

  .trends, .trends* {
    box-sizing: border-box;
    }
    .trends {
    color: white;
    text-align: center;
    font-family: 'futura-maxi-cg-bold'; 
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    position: relative;
    width: 293px;
    height: 181px;
    } 